<p>add-user works!</p>
<a [routerLink]="'/home'">Go to home</a>
<div class="container">
<div class="row align-items-center justify-content-center">

  <form [formGroup]="addUserForm"  (ngSubmit)="storeUserDate()" class="col-4">
    <h1 class="text-center">{{this.editUser?"Edit user": 'Add user'}}</h1>
    <label >Username</label>
    <input class="form-control" formControlName="userName"  type="text" />
    <label>Email</label>
    <input class="form-control" formControlName="email" type="text" />
    <label>Phone No</label>
    <input class="form-control" formControlName="phoneNo" type="text" />
    <button class="btn btn-success btn-lg mt-5 px-5" [disabled]="this.addUserForm.invalid">{{this.editUser?"Edit":'Add'}}</button>
  </form>
</div>

</div>
